<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simon">

    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />-->

    <!--<uses-permission android:name="android.permission.VIBRATE" />-->

    <application>
        <activity
            android:name=".widget.rxpermissions.ShadowActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/RxAppBaseTheme" />
        <activity
            android:name=".widget.rxpermissions.ShadowActivity_picture"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:process=":picture"
            android:screenOrientation="portrait"
            android:theme="@style/RxAppBaseTheme" />
    </application>
</manifest>
